
@{
    ViewBag.Title = "Index";
}
<style>
    /*button#add {
            font-size: .875rem;
            position: relative;
            transition: all .15s ease;
            letter-spacing: .025em;
            text-transform: none;
            will-change: transform;
            float: right;
            margin-left: 70%;
        }*/

    div#DataTables_Table_0_filter {
        margin-left: auto;
    }
    div#DataTables_Table_0_filter {
        display: none;
    }

    button#fetch {
        margin-left: 53%;
        margin-top: -6%;
        width: 23%;
        background-color: #0062cc;
    }

    .row {
        margin-top: 29px;
        margin-left: 1%;
    }

    #hhs {
        width: 153%;
    }

    div#detail {
        width: 60%;
        margin-left: 24%;
    }
   /* .row {
        margin: auto;
        margin-top: 7px;
    }*/

  
    label#attached {
        cursor: pointer;
    }

    .container-fluid.d-flex.align-items-center .btn {
        width: -8%;
        margin-left: -27%;
        width: 13%;
    }
</style>


<div class="card">
    <div class="card-header card-header-primary d-flex align-items-center">
        <h3 class="card-title mr-auto text-white mb-0 ">Masking Report</h3>
    </div>
    <form id="form">
        <div class="row">
            <div class="col-md-3">
                <h3>From Date</h3>
                <input type="date" name="fromdate" class="form-control"  />
            </div>
            <div class="col-md-3">
                <h3>To Date</h3>
                <input type="date" name="todate" class="form-control" />
            </div>
            <div class="col-md-3">
            <h3>Account Numer</h3>
                <input type="text" id="AccountNumber" name="AccountNumber" placeholder="Account Number" class="form-control" />
            </div>
            <div class="col-md-3">
                <h3>Masking ID</h3>
                <input type="text" id="maskingId" name="maskingId" placeholder="Masking" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>NTN</h3>
                <input type="text" id="ntn" name="ntn" placeholder="NTN" class="form-control" />
            </div>
            <div class="col-md-3">
                <h3>UserName</h3>
                <input type="text" id="Username" name="Username" placeholder="UserName" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg sender-button" id="fetch">Search</button>
    </form>
   
    <div class="card-body px-0">
        <!-- Light table -->
        <div class="table-responsive">
            <table class="table tblmanage display" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">ACCOUNT NUMBER</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Masking ID</th>
                        <th scope="col">NTN/FTN</th>
                        <th scope="col" id="user">USER NAME</th>
                        <th scope="col">Comments</th>
                        <th scope="col" style="width:20px;">Current Status</th>
                        <th scope="col">Jazz</th>
                        <th scope="col">Telenor</th>
                        <th scope="col">Ufone</th>
                        <th scope="col">TAT Status</th>
                        <th scope="col">Days Elapsed</th>
                        <th scope="col" id="button">Action</th>
                    </tr>

                </thead>
                <tbody class="list">
                </tbody>
            </table>
        </div>
    </div>
 </div>

<!-- Footer -->
<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
                &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> <a href="https://https://www.zong.com.pk/" class="font-weight-bold ml-1" target="_blank">CMPAK</a>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</footer>





@section scripts
    {

    <script src="~/Scripts/ProjectScript/InProcessScript.js"></script>
    <script src="~/Scripts/ProjectScript/InProcessScript.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/jszip-utils.min.js"></script>
    <script src="~/Scripts/FileSaver.min.js"></script>
     <script src="~/Scripts/ProjectScript/ReportScript.js"></script>
    <script src="~/Scripts/ProjectScript/CrudScript.js"></script>
    <script>
        var initiator = '';
        var links = [];
        var dt = "";
        var ss = "";
        var isValid = true;
        var CreatorType;

        //} );
        $(document).ready(function () {
            debugger
            var data = '/Sender/ReportGetAll';
            ReportScript.RenderDataTable(data);


        });

        
        $("form#form").submit(function (e) {
            debugger
            var formData = new FormData(this);
            e.preventDefault();
            ReportScript.FetchData(formData);
         });


        $('#fetch').click(function () {
            debugger
            initiator = this.name
        });

        $(document).on('click', '.history', function () {
            debugger
            var data = $('.tblmanage').DataTable().row($(this).closest('tr')).data();

            ReportScript.LoadHistory(data.Id);

        });


        /////Selected Row/////////
        $('.tblmanage').on('click', 'tr', function () {

            debugger
            var ss = $(".tblmanage tr").hasClass('selected');
            if (ss == false) {
                $(this).removeClass('selected');
            }

            if (ss) {

                var domain = window.location.origin;
                var $row = $(this).closest("tr");

                dt = $('.tblmanage').DataTable().row($(this).closest('tr')).data();

                if (!links.includes(dt.Attachment)) {
                    if (dt.Attachment != " -- ") {
                        var filelocation = dt.Attachment;
                        filelocation = filelocation.split(',');
                        filelocation.forEach(function (f, i) {
                            filelocation = f.split('Zong_Admin_Panel\\').pop();
                            links.push(filelocation);
                        });
                    }

                }
                else {
                    links.splice($.inArray(filelocation, links), 1);
                }
                console.log(links);
            }
        });




        //$(document).on('click', '.buttons-excel', function (data) {

        //    debugger
        //    if (links.length > 0) {

        //        generateZIP();
        //    }

        //    else {
        //        links = [];
        //        MSM();
        //        generateZIP();

        //    }

        //});



        //function MSM() {
        //    debugger
        //    var domain = window.location.origin;
        //    var data = $('.tblmanage').DataTable().data();
        //    $.each(data, function (url, i) {
        //        debugger
        //        if (!links.includes(i.Attachment)) {
        //            if (i.Attachment != " -- ") {


        //                var filelocation = i.Attachment.split(',');
        //                filelocation.forEach(function (f, i) {
        //                    filelocation = f.split('Zong_Admin_Panel\\').pop();
        //                    links.push(filelocation);
        //                    filelocation = filelocation.split(',');

        //                });
        //            }
        //        }
        //        else {
        //            links.splice($.inArray(filelocation, links), 1);
        //        }
        //    });

        //}




        //function generateZIP() {
        //    debugger
        //    console.log('TEST');
        //    var zip = new JSZip();
        //    var count = 0;
        //    var zipFilename = "Attachments.zip";
        //    var domain = window.location.origin;
        //    var ss = "";

        //    links.forEach(function (url, i) {
        //        debugger
        //        JSZipUtils.getBinaryContent(url, function (err, data) {
        //            debugger
        //            if (data != null) {
        //                zip.file(url, data, { binary: true });
        //                count++;
        //                if (count == links.length) {
        //                    zip.generateAsync({ type: 'blob' }).then(function (content) {
        //                        debugger
        //                        saveAs(content, zipFilename);
        //                        links = [];
        //                        ShowDivSuccess("Download Successfully!!!");
        //                        var ss = "/Sender/ReportGetAll";
        //                        ReportScript.RenderDataTable(ss);

        //                    });
        //                }
        //            }
        //        });
        //    });
        //}



    </script>
}


