@{
    ViewBag.Title = "Groups";
}
<style>
    .co {
        color: red
    }
</style>

<div class="page-inner">
    <div class="page-header" style="display:none">
        <h4 class="page-title">Groups</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="Group">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            

        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Groups
                        <a href="@Url.Action("CreateGroup","Group")" class="btn btn-primary create">
                            <i class='fas fa-plus'></i> Create
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table tblmanage table-striped table-bordered table-hover" id="mainTable" role="grid" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th> Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ADD MODAL -->
<div class="modal fadeIn modal-primary" id="add_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-md-10">Add Purchase Detail</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <form role="form" id="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="card-body">
                            <div class="form-group form-show-validation row">
                                <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Group Name <span class="required-label">*</span></label>
                                <div class="col-lg-4 col-md-9 col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Group Name" required>
                                </div>
                            </div>
                            <div class="form-group form-show-validation row">
                                <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Permissions <span class="required-label">*</span></label>
                                <div class="forms col-lg-4 col-md-9 col-sm-8">
                                    <ul class="tree" id="Menus">
                                        <li class="has">
                                            <input type="checkbox" name="domain[]" value="Agricultural Sciences">
                                            <label>Agricultural Sciences <span class="total">(15)</span></label>
                                            <ul>
                                                <li class="">
                                                    <input type="checkbox" name="subdomain[]" value="Agriculture, Dairy &amp; Animal Science">
                                                    <label>Agriculture, Dairy &amp; Animal Science </label>
                                                </li>


                                                <li class="">
                                                    <input type="checkbox" name="subdomain[]" value="Biodiversity Conservation">
                                                    <label>Biodiversity Conservation </label>
                                                <li class="has">
                                                    <input type="checkbox" name="subdomain[]" value="Biochemistry &amp; Molecular Biology">
                                                    <label>Biochemistry &amp; Molecular Biology <span class="total">(1)</span></label>
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" name="subject[]" value="Analytical Biochemistry">
                                                            <label>Analytical Biochemistry</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END ADD MODAL -->


<script src="~/Scripts/ProjectScript/GroupScript.js"></script>
<script src="~/Scripts/ProjectScript/CrudScript.js"></script>
<script>

    $(document).ready(function () {
        GroupScript.RenderDataTable();
    })
    $(document).on('click', '.tree label', function (e) {
        $(this).next('ul').fadeToggle();
        e.stopPropagation();
    });

    $(document).on('change', '.tree input[type=checkbox]', function (e) {
        $(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
        $(this).parentsUntil('.tree').children("input[type='checkbox']").prop('checked', this.checked);
        e.stopPropagation();
    });

    $(document).on('click', 'button', function (e) {
        switch ($(this).text()) {
            case 'Collepsed':
                $('.tree ul').fadeOut();
                break;
            case 'Expanded':
                $('.tree ul').fadeIn();
                break;
            case 'Checked All':
                $(".tree input[type='checkbox']").prop('checked', true);
                break;
            case 'Unchek All':
                $(".tree input[type='checkbox']").prop('checked', false);
                break;
            default:
        }
    });

    $('#btnSubmit').click(function () {
        GroupScript.SaveGroup();
    })
    $(document).on('click', '.edit', function () {
        var data = $('#mainTable').DataTable().row($(this).closest('tr')).data();
        debugger
        GroupScript.EditForm(data.id);

    });



    $(document).on('click', '.delete', function () {
        debugger
        var data = $('#mainTable').DataTable().row($(this).closest('tr')).data();
        GroupScript.DeleteGroup(data);
    });

    $('#add').click(function () {
        $("#form").trigger('reset');
        $('.fw-mediumbold').text('New');
        $('#btnUpdate').css('display', 'none');
        $('#btnSubmit').css('display', 'block');
        $('#addRowModal').modal("show");
    })


</script>
