

@{
    ViewBag.Title = "Create Group";
}

<link href="~/Content/assets/css/fonts.min.css" rel="stylesheet" />



<style>

    ul.tree {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        ul.tree li {
            list-style: none;
        }
    input#name {
        width: 236%;
    }
    div#users {
        width: 35%;
        /* margin-left: 0%; */
        float: right;
        /* margin-left: -21%; */
       
        margin-top: -7%;
    }
    .card-action {
        padding: 2%;
    }
</style>
<div class="page-inner">
  
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Create Group Permission
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/Group">
                                <i class="flaticon-home"> Back</i>
                            </a>
                        </li>

                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>

                    </ul>
                 </div>
                <form id="form">
                    <div class="card-body">
                        <div class="form-group form-show-validation col-md-12">
                            <div class="col-md-6">
                                <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Group Name <span class="required-label">*</span></label>
                                <div class="col-lg-4 col-md-9 col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <span id="message" style="display: none;color: red !important;font-size: 10px;">Group Name Already Exist Please Try Another</span>
                            </div>
                            <div class="col-md-6" id="users">
                                <label class="control-label">Users</label>
                                @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.username, new { multiple = "true", @class = "form-control", @title = "Select User" })
                            </div>
                        </div>


                        <div class="form-group form-show-validation row">
                            <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Permissions <span class="required-label">*</span></label>
                            <div class=" col-lg-4 col-md-9 col-sm-8" id="Permission">

                            </div>
                        </div>
                    </div>

                </form>
                
                <div class="card-action">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-success" type="submit" value="Submit" id="btnSubmit">
                            <button class="btn btn-danger" id="cancel">Cancel</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
  


@section scripts
{
<script src="~/Scripts/ProjectScript/CrudScript.js"></script>
<script src="~/Scripts/ProjectScript/GroupScript.js"></script>
<script>

    //$("form#form").submit(function (e)
    //{
    //    debugger

    //    e.preventDefault();
    //      GroupScript.SaveGroup();
    //})
    $('#btnSubmit').click(function () {
      
        GroupScript.SaveGroup();
    })
    $('input[type=checkbox]').click(function () {
        // children checkboxes depend on current checkbox
        $(this).next().find('input[type=checkbox]').prop('checked', this.checked);
        // go up the hierarchy - and check/uncheck depending on number of children checked/unchecked
        $(this).parents('ul').prev('input[type=checkbox]').prop('checked', function () {
            return $(this).next().find(':checked').length;
        });
    });
    $(document).on('click', '.tree label', function (e) {
        $(this).next('ul').fadeToggle();
        e.stopPropagation();
    });

    $(document).on("focusout", "#name", function () {
        var name = $(this).val();
        if (name != null && name != '') {

            GroupScript.CheckGroup(name);
        }

    });
    $(document).on('change', '.tree input[type=checkbox]', function (e) {
        $(this).next().find('input[type=checkbox]').prop('checked', this.checked);
        $(this).next().find('input[type=checkbox]').prop('value', this.checked ? 1 : 0);
        // go up the hierarchy - and check/uncheck depending on number of children checked/unchecked
        $(this).parents('ul').prev('input[type=checkbox]').prop('checked', function () {

            $(this).next().find(':checked').prop('value', this.checked ? 1 : 0);
            return $(this).next().find(':checked').length;
        });
        //$(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
        //$(this).parentsUntil('.tree').children("input[type='checkbox']").prop('checked', this.checked);

        $(this).siblings('ul').find("input[type='checkbox']").prop('value', this.checked ? 1 : 0);
        //$(this).parentsUntil('.tree').children("input[type='checkbox']").prop('value', this.checked ? 1 : 0);

        this.value = this.checked ? 1 : 0;
        e.stopPropagation();
    });

    $(document).ready(function () {
        $('select').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
       
        GroupScript.GetAllForms();
       
    });


    $('#cancel').click(function () {
        debugger
        window.location = "/Group";
    });

    $(document).on('click', 'button', function (e) {
        switch ($(this).text()) {
            case 'Collepsed':
                $('.tree ul').fadeOut();
                break;
            case 'Expanded':
                $('.tree ul').fadeIn();
                break;
            case 'Checked All':
                $(".tree input[type='checkbox']").prop('checked', true);
                break;
            case 'Unchek All':
                $(".tree input[type='checkbox']").prop('checked', false);
                break;
            default:
        }
    });


</script>
}